# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Environment
.env
.env*.local

# Logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# OS
.DS_Store
*.pem

# TypeScript
*.tsbuildinfo

# Generated Native Folders
/ios
/android

# Design Assets
.stitch/

# Agent 
.pi/
